.profileContainer {
  margin-top: 0rem;
    display: flex;
    width: 100vw;
    max-width: 100%;
    background-color: white;
  }
  
  .profileContainer > div {
    margin-top: 1.5rem;
    display: flex;
    width: 100vw;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .profile_1{
   .inp{
      p{
        margin-bottom: 0rem;
      }
   }
  }
  
  .profileContainer > div:first-child > h1 {
    color: rgba(0, 0, 0, 0.555);
    font: 500 2.3vmax "Roboto";
    transform: translateX(-10vmax) translateY(-2vmax);
  }
  
  .profileContainer > div:first-child > img {
    width: 42%;
    border-radius: 100%;
    transition: all 0.5s;
    height: 20rem;
    width: 20rem;
  }
  
  .profileContainer > div:first-child > img:hover {
    transform: scale(1.05);
  }
  .inp{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    input{
      width: 100%;
    }
  }
  
  .profileContainer > div:first-child > a {
    border: none;
    background-color: tomato;
    font: 400 1.1vmax "Roboto";
    color: white;
    text-decoration: none;
    padding: 0.5vmax;
    width: 30%;
    margin: 4vmax;
    text-align: center;
    transition: all 0.5s;
  }
  
  .profileContainer > div:first-child > a:hover {
    background-color: rgb(204, 78, 56);
  }
  
  .profileContainer > div:last-child {
    height: 30rem;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 3vmax;
    padding-top: 0rem;
    box-sizing: border-box;
  }
  
  .profileContainer > div:last-child > div > h4 {
    color: black;
    font: 400 1.3vmax "Roboto";
  }
  
  .profileContainer > div:last-child > div > p {
    color: rgba(0, 0, 0, 0.418);
    font: 400 1.3vmax cursive;
    margin: 0.2vmax;
  }
  
  .profileContainer > div:last-child > div:last-child {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  
  .profileContainer > div:last-child > div:last-child > a {
    border: none;
    background-color: rgb(68, 68, 68);
    font: 400 1.2vmax "Roboto";
    color: white;
    text-decoration: none;
    padding: 0.5vmax;
    text-align: center;
    transition: all 0.5s;
    margin: 1vmax 0;
  }
  
  .profileContainer > div:last-child > div:last-child > a:hover {
    background-color: rgb(31, 31, 31);
  }
  @media screen and (min-width: 901px) and (max-width:1100px) {
    .profileContainer > div:last-child > div > h4 {
        font: 400 2vmax "Roboto";
      }
    
      .profileContainer > div:last-child > div > p {
        font: 400 2.3vmax cursive;
        margin: 0.5vmax 0;
      }
    
      .profileContainer > div:last-child > div:last-child > a {
        font: 400 1.8vmax "Roboto";
        padding: 1vmax;
        margin: 2vmax 0;
      }
  }

  @media screen and (min-width: 645px) and (max-width:900px) {
  
    .profileContainer > div:first-child > h1 {
      font: 500 3.2vmax "Roboto";
      transform: translateY(-2vmax);
    }
    .profileContainer > div:first-child > img {
      width: 68%;
      height: 19rem;
      width: 19rem;
    }
  
    .profileContainer > div:first-child > a {
      font: 400 1.7vmax "Roboto";
      padding: 1vmax;
    }
  
    .profileContainer > div:last-child {
      text-align: center;
      align-items: center;
    }
  
    .profileContainer > div:last-child > div > h4 {
      font: 400 2.2vmax "Roboto";
    }
  
    .profileContainer > div:last-child > div > p {
      font: 400 2.5vmax cursive;
      margin: 0.5vmax 0;
    }
  
    .profileContainer > div:last-child > div:last-child > a {
      font: 400 1.8vmax "Roboto";
      padding: 1vmax;
      margin: 2vmax 0;
    }
  }
  
  @media screen and (max-width: 645px) {
    .profileContainer {
      flex-direction: column;
    }
   
    .profileContainer > div:first-child > h1 {
      font: 500 3.2vmax "Roboto";
      transform: translateY(-2vmax);
    }
  
    .profileContainer > div:first-child > a {
      font: 400 1.7vmax "Roboto";
      padding: 1vmax;
    }
    .inp{
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      input{
        width: 60%;
      }
    }
  
    .profileContainer > div:last-child {
      margin-top: 0rem;
      text-align: center;
      align-items: center;
    }
   
    .profileContainer > div:last-child > div > h4 {
      font: 400 2.5vmax "Roboto";
    }
  
    .profileContainer > div:last-child > div > p {
      font: 400 2vmax cursive;
      margin: 0.5vmax 0;
    }
  
    .profileContainer > div:last-child > div:last-child > a {
      font: 400 1.8vmax "Roboto";
      padding: 1vmax;
      margin: 2vmax 0;
    }
    .profileContainer .profile_1 {
      margin-top:3rem;
    }
  }

  @media screen and (max-width: 500px) {

    .profileContainer > div:first-child > img {
      width: 60%;
    }
    .inp{
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      input{
        width: 80%;
      }
    }
  }
  @media screen and (max-width: 450px) {
    .profileContainer > div:first-child > img {
      width: 80%;
   }
  }

  @media screen and (max-width: 350px) {

    .profileContainer > div:first-child > img {
       width: 90%;
    }
    .inp{
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      input{
        width: 100%;
      }
    }
  }