.dashboard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .title {
    width: 100%;
    p:first-child {
      text-align: center;
      font-size: 2.1rem;
      font-weight: 700;
      letter-spacing: 1px;
    }
    p:last-child {
      letter-spacing: 1px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .dashboard {
    .title {
      width: 100%;
      p:first-child {
        font-size: 1.5rem;
      }
      p:last-child {
        letter-spacing: 1px;
      }
    }
  }
}
