/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "ngx-toastr/toastr";

@import "node_modules/ngx-spinner/animations/timer.css";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

@import "~material-icons/iconfont/material-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

* {
  box-sizing: border-box;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding-bottom: 3rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

// html, body {
//   max-width: 100%;
//   overflow-x: hidden;
// }

.xng-breadcrumb-root {
  display: inline;
  border-radius: none;
}

label.xng-breadcrumb-trail {
  color: orange;
}
