$fixColor: #fe4c50;

.cartPage {
  width: 100%;
  padding: 1vmax;
  display: flex;
  flex-direction: column;
  .content {
    width: 90%;
  }
  .orderStatus {
    width: 80%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .cartHeader {
    border-radius: 0.2rem;
    width: 94%;
    background-color: $fixColor;
    height: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .headingTitle {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-row: 1;
      p {
        color: white;
        margin-bottom: 0rem;
        font-size: 1.2vmax;
        letter-spacing: 2px;
      }
    }
  }
  .cartContainer {
    width: 94%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #ebe5e5;
    .cartItems {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 5rem;
      margin-bottom: 0.4rem;
      img {
        height: 4.5vmax;
        width: 4.5vmax;
      }
      a {
        text-decoration: none;
        color: black;
      }
      p {
        margin-bottom: 0rem;
        font-size: 1.1vmax;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        button {
          padding: 0rem;
          height: 1.7rem;
          margin: 0.5rem;
          width: 1.7rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(68, 68, 68);
          color: white;
        }
        button:hover {
          background-color: rgb(31, 31, 31);
          transition: all 0.2s;
        }
      }
    }
  }
}

.orderStatus {
  margin-top: 3rem;
  margin-left: 2rem;
  .inp {
    width: 100%;
    select {
      width: 30%;
    }
  }
  .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    button {
      width: 30%;
      border: none;
      outline: none;
      border-radius: 0.2rem;
      background-color: $fixColor;
      color: white;
      height: 2.5rem;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .content {
    .cartHeader {
      width: 96%;
      .headingTitle {
        p {
          font-size: 1.8vmax;
        }
      }
    }
    .cartContainer {
      width: 96%;
      .cartItems {
        img {
          height: 4.5vmax;
          width: 4.5vmax;
        }
        p {
          font-size: 1.8vmax;
        }
        a {
          font-size: 1.8vmax;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .content {
    .cartHeader {
      width: 98%;
      .headingTitle {
        p {
          font-size: 1.8vmax;
        }
      }
    }
    .cartContainer {
      width: 98%;
      .cartItems {
        img {
          height: 4.5vmax;
          width: 4.5vmax;
        }
        p {
          font-size: 1.8vmax;
          button {
            height: 1.2rem;
            width: 1.3rem;
          }
        }
        a {
          font-size: 1.6vmax;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .cartPage {
    display: flex;
    flex-direction: column;
    .content {
      width: 100%;
    }
    .orderStatus {
      width: 90%;
    }
  }
}
@media screen and (max-width: 600px) {
  .cartPage {
    padding: 0;
    min-height: 60vh;
  }

  .cartPage {
    display: flex;
    flex-direction: column;
    .content {
      width: 100%;
    }
    .orderStatus {
      width: 90%;
    }
  }
  .orderStatus {
    .inp {
      width: 100%;
      select {
        width: 60%;
      }
    }
    .btn {
      button {
        width: 40%;
        height: 2.5rem;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .orderStatus {
    .inp {
      width: 100%;
      select {
        width: 70%;
      }
    }
    .btn {
      button {
        width: 60%;
        height: 2.5rem;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .mainCart {
    width: 98vw;
  }
  .cartPage {
    display: flex;
    flex-direction: column;
    .content {
      width: 100%;
    }
    .orderStatus {
      width: 90%;
    }
  }

  .content {
    .cartHeader {
      width: 98%;
      .headingTitle {
        p {
          font-size: 1.8vmax;
        }
      }
    }
    .cartContainer {
      width: 98%;
      .cartItems {
        p {
          font-size: 1.4vmax;
          button {
            height: 1rem;
            width: 1rem;
            margin: 0.2rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .orderStatus {
    .inp {
      width: 100%;
      select {
        width: 80%;
      }
    }
    .btn {
      button {
        width: 80%;
        height: 2.5rem;
      }
    }
  }
}