@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:wght@500&display=swap");
$fixColor: #fe4c50;
$hoverColor:#fe4c50cf;

.checkoutAddress {
  width: 95%;
  .title {
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $fixColor;
    height: 3rem;
    p {
      font-size: 1.4rem;
      font-weight: 700;
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      margin-bottom: 0rem;
      margin-top: 0rem;
      color: white;
    }
  }
  .userAddress {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    .user {
      p {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 0rem;
      }
    }
    .defaultAddress {
      margin-left: auto;
      margin-right: 1rem;
      button {
        border-radius: 0.4rem;
        border: 1px solid green;
        outline: none;
        background-color: white;
        color: green;
        min-height: 2.5rem;
      }
      button:hover {
        background-color: green;
        color: white;
        transition: all 0.3s;
      }
    }
  }
  .addressContent {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .inp {
      width: 45%;
      margin-right: 1.5rem;
      margin-top: 1rem;
      input {
        width: 100%;
      }
    }
  }
  .checkOut {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-right: 1rem;
    button {
      font-size: 1.1rem;
      border: none;
      outline: none;
      background-color: $fixColor;
      border-radius: 0.5rem;
      width: 10rem;
      height: 2.5rem;
      cursor: pointer;
      color: white;
    }
    button:hover {
      background-color: $hoverColor;
      transition: all 0.2s;
    }
  }
}
@media screen and (max-width: 850px) {
  .checkoutAddress {
    width: 100%;
  }
  .cartPage {
    display: flex;
    flex-direction: column;
    .content {
      width: 100%;
    }
    .cost {
      width: 100%;
      display: flex;
      justify-content: center;
      .costDetails {
        width: 50%;
      }
    }
  }
  .costDetails {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 700px) {
  .checkoutAddress {
    width: 100%;
    .addressContent {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .inp {
        width: 90%;
      }
    }
  }
  .checkOut {
    display: flex;
    justify-content: center;
  }
  .checkoutAddress {
    .addressContent {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .inp {
        width: 70%;
        margin-right: 1.5rem;
        margin-top: 1rem;
        input {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .checkoutAddress {
    width: 100%;
    .title {
      p {
        font-size: 1rem;
      }
    }
    .userAddress {
      .user {
        p {
          font-size: 1rem;
        }
      }
      .defaultAddress {
        button {
          font-size: 1rem;
        }
      }
    }
  }
  .cartPage {
    display: flex;
    flex-direction: column;
    .content {
      width: 100%;
    }
    .cost {
      width: 100%;
      display: flex;
      justify-content: center;
      .costDetails {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .checkoutAddress {
    width: 100%;
    .title {
      height: 2.7rem;
      p {
        font-size: 1.1rem;
      }
    }
    .userAddress {
      margin-left: 0rem;
      .user {
        p {
          font-size: 1rem;
        }
      }
      .defaultAddress {
        margin-right: 0rem;
        button {
          font-size: 0.8rem;
          border-radius: 0.4rem;
          min-height: 2rem;
        }
      }
    }
    .addressContent {
      width: 100%;
      .inp {
        margin-right: 0rem;
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
    .checkOut {
      button {
        font-size: 1rem;
        border-radius: 0.5rem;
        width: 9rem;
        height: 2.3rem;
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .checkoutAddress {
    .userAddress {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .user {
        margin-left: 0rem;
        p {
          font-size: 1rem;
        }
      }
      .defaultAddress {
        margin-left: 0rem;
        margin-top: 0.5rem;
        button {
          font-size: 0.8rem;
          border-radius: 0.4rem;
          min-height: 2rem;
        }
      }
    }
  }
}
