<div class="caro" style="margin-top: 5rem;width:100vw;">
  <div class="carImage">
  <carousel style="width:80% ; height: 26rem;">
    <slide class="image">
      <img
        src="assets/Images/item1.jpg"
        alt="f"
        style="display: block"
      />
    </slide>
    <slide class="image">
      <img
        src="assets/Images/item2.jpg"
        alt="f"
        style="display: block"
      />
    </slide>
  </carousel>
</div>
</div>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to Shop!</h1>
  </div>
</section>
