<carousel>
  <slide class="image">
    <img
      src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg"
      alt="f"
      style="display: block"
    />
  </slide>
  <slide class="image">
    <img
      src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg"
      alt="f"
      style="display: block"
    />
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to Shop!</h1>
  </div>
</section>
