@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Mono:ital@0;1&display=swap");
$fixColor:#fe4c50;
$hoverColor:#fe4c50cf;

.contact {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .contactContent {
    width: 90%;
  }
}
.contactContent {
  margin-top: 2rem;
  display: flex;
  .contactMsg {
    display: flex;
    flex-direction: column;
    width: 50%;
    p:first-child {
      font-size: 2rem;
      margin-bottom: 2rem;
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 1px;
    }
    p:last-child {
      width: 80%;
      font-size: 1rem;
    }
  }
  .contactBox {
    width: 50%;
    .box {
      width: 100%;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
      padding: 1rem;
      border-radius: 0.3rem;
      .name {
        width: 100%;
        display: flex;

        .inp:first-child {
        }
        .inp:last-child {
          margin-left: auto;
        }
        .inp {
          width: 48%;
          input {
            width: 100%;
          }
        }
      }
      .other {
        margin-top: 1rem;
        .textInp {
          margin-top: 1rem;
          p {
            margin-bottom: 0rem;
          }
          textarea {
            width: 100%;
            height: 7rem;
            border: 1px solid #dedada;
            border-radius: 0.2rem;
          }
          textarea:active {
            border: 1px solid #dedada;
          }
        }
        .btn {
          margin-top: 1rem;
          padding: 0rem;
          button {
            background-color: $fixColor;
            border-radius: 0.4rem;
            color: white;
            border: none;
            outline: none;
            width: 6rem;
            height: 2.2rem;
          }
          button:hover {
            background-color: $hoverColor;
            transition: all 0.3s;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    .contactContent {
      width: 94%;
    }
  }
  .contactContent {
    display: flex;
    flex-direction: column;
    .contactMsg {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .contactBox {
      width: 100%;
    }
  }
}
@media screen and (max-width: 500px) {
  .contact {
    .contactContent {
      width: 96%;
    }
  }
  .contactContent {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    .contactMsg {
      display: flex;
      flex-direction: column;
      margin-left: 0.5rem;
      width: 100%;
      p:first-child {
        font-size: 1.7rem;
      }
      p:last-child {
        font-size: 0.9rem;
      }
    }
    .contactBox {
      margin-top: 1rem;
      width: 100%;
      .box {
        .name {
          width: 100%;
          display: flex;
          flex-direction: column;
          .inp:first-child {
          }
          .inp:last-child {
            margin-top: 1rem;
          }
          .inp {
            width: 100%;
            input {
              width: 100%;
            }
          }
        }
        .btn {
          margin-top: 1rem;
          padding: 0rem;
          button {
            font-size: 1rem;
            width: 5rem !important;
            height: 2rem !important;
          }
        }
      }
    }
  }
}
