<div class="content">
  <div class="cartHeader">
    <div class="headingTitle">
      <p>Product</p>
    </div>
    <div class="headingTitle">
      <p>Price</p>
    </div>
    <div class="headingTitle">
      <p>Quantity</p>
    </div>
    <div class="headingTitle">
      <p>Subtotal</p>
    </div>
  </div>

  <div class="cartContainer" *ngFor="let item of basket.items; let i = index">
    <div class="cartItems">
      <img src="{{item.productUrl}}" alt="ssa" />
      <div>
        <a routerLink="/shop/{{ item.productID }}">{{
          item.productName
        }}</a>
      </div>
    </div>
    <div class="cartItems">
      <p>
        {{ item.price | currency : "INR" }}
      </p>
    </div>
    <div class="cartItems">
      <p>
        {{ item.numberOfProduct }}
      </p>
    </div>
    <div class="cartItems">
      <p>
        {{ item.numberOfProduct * item.price | currency : "INR" }}
      </p>
    </div>
  </div>
  <div class="checkOut">
    <button class="back" (click)="back()">Back to methods</button>
    <button class="proceed" (click)="proceedPayment()">Proceed payment</button>
  </div>
</div>
