.mainCart {
  width: 90vw;
}

.cartPage {
  width: 100%;
  padding: 1vmax;
  display: flex;
}
.cartPage .content {
  width: 70%;
}
.cartPage .cost {
  width: 30%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .cartHeader {
  border-radius: 0.2rem;
  width: 94%;
  background-color: tomato;
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.content .cartHeader .headingTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
}
.content .cartHeader .headingTitle p {
  color: white;
  margin-bottom: 0rem;
  font-size: 1.3vmax;
  letter-spacing: 2px;
}
.content .cartContainer {
  width: 94%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #ebe5e5;
}
.content .cartContainer .cartItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin-bottom: 0.4rem;
}
.content .cartContainer .cartItems img {
  height: 4.5vmax;
  width: 4.5vmax;
}
.content .cartContainer .cartItems a {
  text-decoration: none;
  color: black;
  font-size: 1.2vmax;
}
.content .cartContainer .cartItems p {
  margin-bottom: 0rem;
  font-size: 1.2vmax;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
.content .cartContainer .cartItems p button {
  padding: 0rem;
  height: 1.7rem;
  margin: 0.5rem;
  width: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(68, 68, 68);
  color: white;
}
.content .cartContainer .cartItems p button:hover {
  background-color: rgb(31, 31, 31);
  transition: all 0.2s;
}

.checkOut {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}
.checkOut button {
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  width: 10rem;
  height: 2.5rem;
  cursor: pointer;
}
.checkOut .proceed {
  margin-left: auto;
  background-color: tomato;
  color: white;
  margin-right: 1rem;
}
.checkOut .proceed:hover {
  background-color: #e25b43;
  transition: all 0.2s;
}
.checkOut .back {
  margin-left: 1rem;
  background-color: white;
  color: tomato;
  border: 1px solid tomato;
}

@media screen and (max-width: 1048px) {
  .costDetails .charges p {
    font-size: 1.5vmax;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .content .cartHeader {
    width: 95%;
  }
  .content .cartHeader .headingTitle p {
    font-size: 1.8vmax;
  }
  .content .cartContainer {
    width: 95%;
  }
  .content .cartContainer .cartItems img {
    height: 4.5vmax;
    width: 4.5vmax;
  }
  .content .cartContainer .cartItems a {
    font-size: 1.8vmax;
  }
  .content .cartContainer .cartItems p {
    font-size: 1.8vmax;
  }
}
@media screen and (max-width: 850px) {
  .content .cartHeader {
    width: 100% !important;
  }
  .content .cartHeader .headingTitle p {
    font-size: 1.8vmax;
  }
  .content .cartContainer {
    width: 100% !important;
  }
  .content .cartContainer .cartItems img {
    height: 4.5vmax;
    width: 4.5vmax;
  }
  .content .cartContainer .cartItems a {
    font-size: 1.8vmax;
  }
  .content .cartContainer .cartItems p {
    font-size: 1.8vmax;
  }
  .cartPage {
    display: flex;
    flex-direction: column;
  }
  .cartPage .content {
    width: 100%;
  }
  .cartPage .cost {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .cartPage .cost .costDetails {
    width: 50%;
  }
  .costDetails {
    margin-top: 2rem;
  }
  .checkOut .proceed {
    margin-right: 0rem;
  }
  .checkOut .back {
    margin-left: 0rem;
  }
}
@media only screen and (max-width: 768px) {
  .content .cartHeader {
    width: 98%;
  }
  .content .cartHeader .headingTitle p {
    font-size: 1.8vmax;
  }
  .content .cartContainer {
    width: 98%;
  }
  .content .cartContainer .cartItems img {
    height: 4.5vmax;
    width: 4.5vmax;
  }
  .content .cartContainer .cartItems a {
    font-size: 1.8vmax;
  }
  .content .cartContainer .cartItems p {
    font-size: 1.8vmax;
  }
  .content .cartContainer .cartItems p button {
    height: 1.2rem;
    width: 1.3rem;
  }
}
@media screen and (max-width: 600px) {
  .cartPage {
    padding: 0;
    min-height: 60vh;
  }
  .cartPage {
    display: flex;
    flex-direction: column;
  }
  .cartPage .content {
    width: 100%;
  }
  .cartPage .cost {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .cartPage .cost .costDetails {
    width: 70%;
  }
  .checkOut {
    display: flex;
    margin-top: 2rem;
  }
  .checkOut button {
    font-size: 0.8rem;
    width: 7rem;
    height: 2.1rem;
  }
}
@media screen and (max-width: 400px) {
  .mainCart {
    width: 100vw !important;
  }
  .cartPage {
    display: flex;
    flex-direction: column;
  }
  .cartPage .content {
    width: 98vw;
  }
  .cartPage .cost {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .cartPage .cost .costDetails {
    width: 90%;
  }
  .costDetails {
    margin-top: 2rem;
  }
  .content .cartHeader {
    width: 98%;
  }
  .content .cartHeader .headingTitle p {
    font-size: 1.8vmax;
  }
  .content .cartContainer {
    width: 98%;
  }
  .content .cartContainer .cartItems a {
    font-size: 1.4vmax;
  }
  .content .cartContainer .cartItems p {
    font-size: 1.4vmax;
  }
  .content .cartContainer .cartItems p button {
    height: 1rem;
    width: 1rem;
    margin: 0.2rem;
  }
}
/*# sourceMappingURL=checkout-order.component.css.map */