$fixColor: #fe4c50;
$hoverColor:#fe4c50cf;
.edit {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .editBox {
    width: 40%;
    border-radius: 0.4rem;
    .title {
      width: 100%;
      border-top-left-radius: 0.4rem;
      border-top-right-radius: 0.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      height: 3rem;
      p {
        font-size: 1.4rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
      }
    }
    .signUpFormcontent {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .inp {
        width: 80%;
        margin-top: 1rem;
        p {
          margin-bottom: 0rem;
        }
        .infomation {
          font-size: 0.8rem;
        }
        input {
          width: 100%;
        }
      }
      button {
        width: 80%;
        margin-top: 1.5rem;
        font-size: 1.2rem;
        height: 2.3rem;
        background-color: $fixColor;
        color: white;
        border-radius: 0.4rem;
        border: none;
        outline: none;
        margin-bottom: 1rem;
      }
      button:hover {
        background-color:$hoverColor;
        transition: all 0.3s;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .edit {
    width: 100%;
    .editBox {
      width: 70%;
    }
  }
}
@media screen and (max-width: 768px) {
  .edit {
    width: 100%;
    .editBox {
      width: 90%;
    }
  }
}

@media screen and (max-width: 400px) {
  .edit {
    width: 100%;
    .editBox {
      width: 100%;
    }
  }
}