<div class="success">
  <div class="successMsg">

  <div class="image">
    <img src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes-3/3/31-512.png" alt="" />
  </div>
  <div class="successInfo">
    <div class="greetingMsg">
      <p>
        Thank you. Your Order is Confirmed
      </p>
    </div>
    <div class="info">
      <p>Your order has not shipped yet,but this is to be expected as we are not real store</p>
    </div>
    <div class="btn">
        <a routerLink="/orders/{{orderID}}">
            View Order
        </a>
    </div>
  </div>
</div>

</div>
