<div
  class="position-fixed d-flex flex-column flex-md-row align-items-center justify-content-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top"
>
  <img
    src="/assets/Images/logo6.png"
    class="navLogo"
    style="max-height: 70px"
    alt="navbarLogo"
  />
  <nav class="my-2 my-md-0 mr-md-3 navItems">
    <a
      class="p-2 links"
      [routerLink]="['/']"
      routerLinkActive="linkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      >HOME</a
    >
    <a
      class="p-2 links"
      [routerLink]="['/shop']"
      routerLinkActive="linkActive"
      >SHOP</a
    >
    <a
      class="p-2 links"
      [routerLink]="['/contact']"
      routerLinkActive="linkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      >CONTACT</a
    >
    <a
      class="p-2 links"
      [routerLink]="['/about']"
      routerLinkActive="linkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      >ABOUT</a
    >
  </nav>
  <div class="loginSign">
    <a  routerLink="/basket" class="position-relative cartBtn">
      <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"> </i>
      <div class="cartNumber" *ngIf="(basket$ | async) as basket">{{basket.items.length}}</div>
    </a>
    <div *ngIf="userData===undefined || userData===null">
      <a class="btn btn-outline-secondary lsBtn" routerLink='/account/login'>Log in</a>
      <a class="btn btn-outline-secondary lsBtn" routerLink='/account/register'>Sign up</a>
  </div>
  <div *ngIf="userData!==undefined && userData!==null">
    <div class="btn-group" dropdown placement="bottom right">
      <button id="button-alignment" dropdownToggle type="button"  style="font-weight: bold;"
              class="dropdown-toggle headerName" aria-controls="dropdown-alignment">
              Welcome {{firstName}} <span class="caret"></span>
      </button>
      <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
          role="menu" aria-labelledby="button-alignment">
          <li role="menuitem"><a class="dropdown-item" href="#">Profile</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">My orderes</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Log out</a>
      </ul>
    </div>
  </div>
  </div>
</div>

