<nav class="navbar">
  <div class="navbarItem">
    <div class="img">
      <div class="compImg">
        <img src="/assets/Images/logo6.png" alt="" />
      </div>
      <div class="hamburger">
        <span
          class="material-symbols-outlined"
          (click)="onBurgerMenu()"
          *ngIf="show === false"
        >
          menu
        </span>
        <span
          class="material-symbols-outlined"
          (click)="onBurgerMenu()"
          *ngIf="show === true"
        >
          close
        </span>
      </div>
    </div>
    <div class="mainMenu" [ngClass]="show === true ? 'showMenu' : 'closeMenu'">
      <div class="items">
        <li>
          <a
            class="links"
            [routerLink]="['/']"
            routerLinkActive="linkActive"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="onBurgerMenu()"
            >HOME</a
          >
        </li>
        <li>
          <a
            class="links"
            [routerLink]="['/shop']"
            routerLinkActive="linkActive"
            (click)="onBurgerMenu()"
            >SHOP</a
          >
        </li>
        <li>
          <a
            class="links"
            [routerLink]="['/contact']"
            routerLinkActive="linkActive"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="onBurgerMenu()"
            >CONTACT</a
          >
        </li>
      </div>
      <div class="basket">
        <div class="cart">
          <a routerLink="/basket" class="position-relative cartBtn">
            <i class="fa fa-shopping-cart fa-2x mr-5 text-dark shopCartIcon">
            </i>
            <div class="cartNumber" *ngIf="basket$ | async as basket">
              {{ basket.items.length }}
            </div>
          </a>
        </div>
        <div *ngIf="(currentUser$ | async) === null" class="logSign">
          <a
            class="btn btn-outline-secondary lsBtn"
            routerLink="/account/login"
            routerLinkActive="logSignLink"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="onBurgerMenu()"
            >Log in</a
          >
          <a
            class="btn btn-outline-secondary lsBtn"
            routerLink="/account/register"
            routerLinkActive="logSignLink"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="onBurgerMenu()"
            >Sign up</a
          >
        </div>
        <div class="wlcUser" *ngIf="currentUser$ | async as user">
          <div class="btn-group" dropdown placement="bottom right">
            <button
              id="button-alignment"
              dropdownToggle
              type="button"
              style="font-weight: bold"
              class="dropdown-toggle headerName"
              aria-controls="dropdown-alignment"
            >
              Welcome {{ user.displayName.split(" ")[0] }}
              <span class="caret"></span>
            </button>

            <ul
              id="dropdown-alignment"
              *dropdownMenu
              class="dropdown-menu dropdown-menu-right"
              role="menu"
              aria-labelledby="button-alignment"
            >
              <li role="menuitem" style="cursor: pointer">
                <a class="dropdown-item" routerLink="/account/user">
                  <div
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                    "
                  >
                    <span class="material-symbols-outlined"> person </span
                    >&nbsp; Account
                  </div></a
                >
              </li>
              <li role="menuitem" class="cartMenu" style="cursor: pointer">
                <a class="dropdown-item" routerLink="/orders">
                  <div
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                    "
                    *ngIf="basket$ | async as basket"
                  >
                    <span class="material-symbols-outlined">
                      shopping_cart </span
                    >&nbsp; Cart({{ basket.items.length }} item)
                  </div></a
                >
              </li>
              <li role="menuitem" style="cursor: pointer">
                <a class="dropdown-item" routerLink="/orders">
                  <div
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                    "
                  >
                    <span class="material-symbols-outlined"> reorder </span
                    >&nbsp; Orders
                  </div></a
                >
              </li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem" style="cursor: pointer">
                <a class="dropdown-item" (click)="logout()">
                  <div
                    style="
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                    "
                  >
                    <span class="material-symbols-outlined">Logout</span>&nbsp;
                    Logout
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
