$fixColor: #fe4c50;

.navbar {
  width: 100vw;
  padding: 0rem 2rem 0rem 1.5rem;
  min-height: 4.5rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 999;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.nvbar {
  padding: 0rem 1.5rem 0rem 1.5rem;
}
.navbarItem {
  width: 100%;
  display: grid;
  grid-template-columns: 43% 57%;
  .img {
    display: flex;
    align-items: center;
    .compImg {
      display: flex;
      align-items: center;
      img {
        width: 2.5rem;
        height: 4rem;
      }
      a {
        text-decoration: none;
        color: black;
        font-weight: bold !important;
        font-size: 1.5rem;
      }
    }
  }
  .mainMenu {
    display: flex;
    align-items: center;
    .items {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        list-style: none;
        margin-right: 1.5rem;
        .links {
          font-size: 1.1rem;
          text-decoration: none;
          color: black;
        }
        .linkActive {
          color: $fixColor;
        }
      }
    }
    .basket {
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .cart {
        .cartBtn {
          display: flex;
          align-items: center;
          margin-right: 1.5rem;
          .cartNumber {
            position: absolute;
            min-width: 18px;
            max-height: 18px;
            border-radius: 50%;
            color: white;
            background-color: $fixColor;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -6px;
            right: -6px;
          }
        }
      }
      .logSign {
        .lsBtn:first-child {
          margin-right: 1rem;
        }
        .lsBtn:last-child {
          margin-right: 0.5rem;
        }
      }
    }
    transition: all 0.3s ease-in-out;
  }
}

.hamburger {
  display: none;
}
.headerName {
  background-color: white;
  color: black;
  border: none;
  outline: none;
}
@media screen and (max-width: 1000px) {
  .navbarItem {
    grid-template-columns: 38% 62%;
    .mainMenu {
      .items {
        li {
          list-style: none;
          margin-right: 1rem;
          .links {
            font-size: 1rem;
          }
          .linkActive {
            color: orange;
          }
        }
      }
      .basket {
        .logSign {
          display: flex;
          align-items: center;
          justify-content: center;
          .lsBtn:first-child {
            font-size: 1rem;
            margin-right: 0.6rem;
          }
          .lsBtn {
            width: 5rem;
            height: 2.2rem;
            padding: 0rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .logSignLink {
            color: #fe4c50;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .navbarItem {
    grid-template-columns: 39% 61%;
    .mainMenu {
      .basket {
        .cart {
          .cartBtn {
            margin-right: 0.8rem !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0rem 0.8rem 0rem 0.8rem;
  }
  .navbarItem {
    grid-template-columns: 38% 62%;
  }
  .navbarItem .mainMenu .items li .links {
    font-size: 0.94rem;
  }
  .headerName[_ngcontent-ng-c709816308] {
    font-size: 0.94rem;
  }
  .hamburger {
    display: block;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 0.2rem;
    z-index: 2001;
  }
  .navbarItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    .img {
      width: 100%;
      display: flex;
      align-items: center;
      .compImg {
        img {
          width: 2.5rem;
          height: 4rem;
        }
        a{
          font-size: 1.4rem;
        }
      }
    }
    .closeMenu {
      width: 0rem;
      .items {
        display: none;
      }
      .basket {
        width: 0rem;
        .cart {
          display: none !important;
        }
        .logSign {
          display: none;
        }
        .wlcUser {
          display: none;
        }
      }
      transition: all 0.3s ease-in;
    }
    .showMenu {
      width: 40vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      background-color: white;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
      z-index: 2000;
      .items {
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li {
          margin-top: 1rem;
          margin-right: 0rem;
        }
      }
      .basket {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .cart {
          display: none !important;
        }
        .logSign {
          display: flex;
          flex-direction: column;
          .lsBtn {
            padding: 0rem;
            margin-top: 1rem;
            border: none;
            color: black;
            text-transform: uppercase;
            font-size: 0.94rem;
            margin-right: 0rem;
          }
          .lsBtn:hover {
            background-color: white !important;
            color: black !important;
          }
        }
        .wlcUser {
          margin-top: 1rem;
          display: block;
        }
      }
      transition: all 0.3s ease-in-out;
    }
  }
}

@media screen and (max-width: 510px) {
  .navbarItem {
    .showMenu {
      width: 50vw;
      .basket {
        .wlcUser {
          .dropdown-menu.show {
            margin-left: 1rem !important;
          }
          ul {
            li {
              a {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 410px) {
  .navbarItem {
    .showMenu {
      width: 70vw;
    }
  }
}
