<div class="allOrders">
    <div class="orders">
      <div class="headingContainer">
        <div class="heading">
          <p>OrderID</p>
        </div>
        <div class="heading">
          <p>Status</p>
        </div>
        <div class="heading">
          <p>Amount</p>
        </div>
        <div class="heading">
          <p>Action</p>
        </div>
      </div>
      <div class="orderList" *ngFor="let item of orders">
        <div class="orderInfo">
          <p>{{item.orderID}}</p>
        </div>
        <div class="orderInfo">
          <p>{{item.orderStatus}}</p>
        </div>
        <div class="orderInfo">
          <p>{{item.total}}</p>
        </div>
        <div class="orderInfo">
          <p>
            <a routerLink="/admin/edit-order/{{item.orderID}}">
              <i class="bi bi-arrow-up-right-square icon"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  