$fixColor:#fe4c50;

.CartItemCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .CartItemCard > img {
    width: 5vmax;
    height: 5vmax;
  }
  
  .CartItemCard > div {
    display: flex;
    flex-direction: column;
  }
  
  .CartItemCard > div > a {
    font: 300 0.9vmax cursive;
    color: rgba(24, 24, 24, 0.815);
    text-decoration: none;
  }
  
  .CartItemCard > div > span {
    font: 300 0.9vmax "Roboto";
    color: rgba(24, 24, 24, 0.815);
  }
  
  .CartItemCard > div > p {
    color: $fixColor;
    font: 100 0.8vmax "Roboto";
    cursor: pointer;
  }
  @media screen and (max-width: 1000px) {
    .CartItemCard > img {
      width: 8vmax;
      height: 8vmax;
    }
    .CartItemCard > div > a {
      font: 300 1.4vmax cursive;
      color: rgba(24, 24, 24, 0.815);
      text-decoration: none;
    }
    
    .CartItemCard > div > p {
      color: $fixColor;
      font: 100 1.3vmax "Roboto";
      cursor: pointer;
    }
  }
 
  @media screen and (max-width: 600px) {
    .CartItemCard > img {
      width: 10vmax;
      height: 8vmax;
    }
    .CartItemCard > div > a {
      font: 300 2vmax cursive;
    }
    .CartItemCard > div > span {
      font: 300 1.9vmax "Roboto";
    }
    .CartItemCard > div > p {
      font: 100 1.8vmax "Roboto";
    }
  }
  @media screen and (max-width: 350px) {
    .CartItemCard {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .CartItemCard > img {
      width: 7vmax;
      height: 7vmax;
    }
  }
